.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

/* main{
  position: relative;
  /* padding-left: 100px;
  padding-right: 100px; */
  /* margin-top: 40px; */
  /* margin-top: -100px;
} */
